<div class="topnav">
		<div class="topnav_bd w1210 bc">
			<div class="topnav_left">
				
			</div>
			<div class="topnav_right fr">
				<ul>
					<li>您好，欢迎来到京西！
						<?php if(session('member_id')): ?>
							<a href="javascript:;" style="color:red;"><?php echo session('member_username'); ?></a>
							[<a href="{:url('/home/public/logout')}">退出</a>] 
						<?php  else:?>
							[<a href="{:url('/home/public/login')}">登录</a>] 
							[<a href="{:url('/home/public/register')}">免费注册</a>] 
					    <?php  endif;?>
					</li>
					<li class="line">|</li>
					<li><a href="{:url('/home/order/selfOrder')}">我的订单</a></li>
					<li class="line">|</li>
					<li>客户服务</li>

				</ul>
			</div>
		</div>
</div>