<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="{:config('admin_static')}/css/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="{:config('admin_static')}/js/jquery.js"></script>
    <style>
        .active{
            border-bottom: solid 3px #66c9f3;
        }
    </style>
</head>

<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">表单</a></li>
        </ul>
    </div>
    <div class="formbody">
        <div class="formtitle">
            <span class="active">基本信息</span>
        </div>
        <form action="" method="post">
            <!-- 隐藏域 -->
            <input type="hidden" name="type_id" value="{$type['type_id']}"  />
            <ul class="forminfo">
                <li>
                    <label>类型名称</label>
                    <input name="type_name" value="{$type['type_name']}" placeholder="请输入类型名称" type="text" class="dfinput" /><i></i>
                </li>
                
                <li>
                    <label>类型描述</label>
                    <textarea name='mark'  placeholder="请输入商品类型描述" cols="" rows="" class="textinput">
                        {$type['mark']}
                    </textarea>
                </li>
            </ul>
			<li>
                    <label>&nbsp;</label>
                    <input name="" id="btnSubmit" type="submit" class="btn" value="确认保存" />
             </li>
        </form>
    </div>
</body>
<script>
    //定义匹配不可见字符正则 
    var reg = /\s+/g
    var oldtext = $("textarea[name='mark']").val();
    //把正则匹配的替换成空字符
    var newText = oldtext.replace(reg,'');
    console.log(oldtext);
    console.log(newText);
    $("textarea[name='mark']").val(newText);
</script>

</html>
